    <header>
        <h1> Login </h1>
    </header>
    <form method="POST" action="/users/Login" enctype="application/x-www-form-urlencoded">
    <div class="grid-by-2-L">
        <label class="txt-user">Username </label>
        <input class="in-user" type="text" name = "username" placeholder="Username"/>

        <label class="txt-pass">Password</label>
        <input class="in-pass" type="password" name="password" placeholder="Password"/>

        <button class="L-log" type="submit"> Login </button>
        <button class="L-create" type="submit"> Cancel </button>
    </div>
    </form>
